@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "KaijuKingz";
  src: "/KaijuKingz.5c7a5ce9.woff" format("woff");
}

.font-kingz {
  font-family: "KaijuKingz";
}
